PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_viet_tour

JWT_SECRET=
VERIFY_EMAIL_SECRET=
RESET_PASS_SECRET=

FRONTEND_URL=http://localhost:5173

# Không bắt buộc: SMTP_HOST, SMTP_PORT, SMTP_SECURE, SMTP_USER, SMTP_PASS, SMTP_FROM
